<footer class="main-footer" id="footer">
    <div class="container">
        <p>&copy; 2025-2026 Catime Project by <a href="https://vladelaina.com/" target="_blank" rel="noopener noreferrer">vladelaina</a></p>
        <p>Open sourced under <a href="https://github.com/vladelaina/Catime/blob/main/LICENSE" target="_blank" rel="noopener noreferrer">Apache 2.0</a> License</p>
        <p>Icon Artist: <a href="https://space.bilibili.com/26087398" target="_blank" rel="noopener noreferrer">猫屋敷梨梨Official</a></p>
        <div class="footer-links">
            <a href="https://message.bilibili.com/#/whisper/mid1862395225" target="_blank" rel="noopener noreferrer">Feedback</a>
            <a href="https://github.com/vladelaina/Catime/blob/main/PRIVACY.md" target="_blank" rel="noopener noreferrer">Privacy Policy</a>
        </div>
    </div>
</footer>
