#include <windows.h>
#include "resource.h"

IDD_ABOUT_DIALOG DIALOGEX 0, 0, 240, 180
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION IDC_ABOUT_TITLE
FONT 9, "Microsoft YaHei UI"
BEGIN
    ICON            IDI_CATIME, IDC_ABOUT_ICON, 15, 15, 32, 32
    LTEXT           IDC_ABOUT_CATIME, -1, 60, 20, 160, 12
    LTEXT           IDC_ABOUT_VERSION CATIME_VERSION, IDC_VERSION_TEXT, 60, 35, 160, 12
    GROUPBOX        IDC_ABOUT_LIBS, -1, 15, 60, 210, 50
    LTEXT           IDC_ABOUT_LIBS_NAMES, IDC_LIBS_TEXT, 25, 75, 190, 30
    GROUPBOX        IDC_ABOUT_AUTHOR, -1, 15, 120, 210, 30
    LTEXT           IDC_ABOUT_AUTHOR_NAME, IDC_AUTHOR_TEXT, 25, 133, 190, 12
    DEFPUSHBUTTON   IDC_ABOUT_OK_TEXT, IDC_ABOUT_OK, 95, 155, 50, 14
END 