#include <windows.h>
#include "resource.h"

// Set UTF-8 encoding
#pragma code_page(65001)

// About dialog resource definition
IDD_ABOUT_DIALOG DIALOGEX 0, 0, 255, 80
// Dialog style: modal frame, centered, popup window, with title bar and system menu
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
// Dialog title
CAPTION IDC_ABOUT_TITLE_TEXT
// Use Microsoft YaHei UI font, size 12
FONT 12, "Microsoft YaHei UI"
BEGIN
    // Program icon
    CONTROL     "",                          IDC_ABOUT_ICON,    "Static", SS_ICON,                   
                                                                          5,  -10, ABOUT_ICON_SIZE, ABOUT_ICON_SIZE

    // Version information group
    LTEXT       "",                          IDC_VERSION_TEXT,          130,  15, 160, 12
    LTEXT       "",                          IDC_BUILD_DATE,            100,  25, 180, 12
    LTEXT       "",                          IDC_COPYRIGHT,             100,  35, 180, 12

    // Credits information
    CONTROL     "",                          IDC_CREDIT_LINK,    "Static", SS_NOTIFY | SS_CENTERIMAGE,
                                                                          100,  45, 145, 12

    // Bottom links bar
    CONTROL     "",                          IDC_CREDITS,        "Static", SS_NOTIFY | SS_CENTERIMAGE,
                                                                          40,   65,  25, 12
    CONTROL     "",                          IDC_BILIBILI_LINK,  "Static", SS_NOTIFY | SS_CENTERIMAGE,
                                                                          80,   65,  35, 12
    CONTROL     "",                          IDC_GITHUB_LINK,    "Static", SS_NOTIFY | SS_CENTERIMAGE,
                                                                          125,  65,  32, 12
    CONTROL     "",                          IDC_COPYRIGHT_LINK,  "Static", SS_NOTIFY | SS_CENTERIMAGE,
                                                                          165,  65,  36, 12
    CONTROL     "",                          IDC_SUPPORT,         "Static", SS_NOTIFY | SS_CENTERIMAGE,
                                                                          215,  65,  25, 12
END 
