#include <windows.h>
#include "resource.h"

IDD_ABOUT_DIALOG DIALOGEX 0, 0, 255, 80
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION IDC_ABOUT_TITLE
FONT 9, "Microsoft YaHei UI"
BEGIN
    CONTROL         "", IDC_ABOUT_ICON, "Static", SS_ICON, 15, 6, ABOUT_ICON_SIZE, ABOUT_ICON_SIZE
    LTEXT           IDC_ABOUT_CATIME, -1, 60, 20, 160, 12
    LTEXT           IDC_ABOUT_VERSION CATIME_VERSION, IDC_VERSION_TEXT, 60, 35, 160, 12
END 