#include <windows.h>
#include "resource.h"

// 设置 UTF-8 编码
#pragma code_page(65001)

// 鸣谢对话框资源定义
IDD_CREDITS_DIALOG DIALOGEX 0, 0, 150, 190
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "鸣谢"
FONT 12, "Microsoft YaHei UI"
BEGIN
    // 标题
    LTEXT       "特别感谢以下贡献者：", IDC_CREDITS_TITLE, 10, 10, 130, 20

    // 贡献者链接 - 左列
    CONTROL     "MAX°孟兆", IDC_CREDITS_MAX, "Static", SS_NOTIFY | SS_CENTERIMAGE, 
                20, 23, 45, 15
    CONTROL     "zggsong", IDC_CREDITS_ZGGSONG, "Static", SS_NOTIFY | SS_CENTERIMAGE,
                20, 38, 45, 15
    CONTROL     "MOJIもら", IDC_CREDITS_MOJI, "Static", SS_NOTIFY | SS_CENTERIMAGE,
                20, 53, 45, 15
    CONTROL     "我是无名吖", IDC_CREDITS_WUMING, "Static", SS_NOTIFY | SS_CENTERIMAGE,
                20, 68, 45, 15
    CONTROL     "双脚猫", IDC_CREDITS_CAT, "Static", SS_NOTIFY | SS_CENTERIMAGE,
                20, 83, 45, 15
    CONTROL     "洋仓鼠", IDC_CREDITS_HAMSTER, "Static", SS_NOTIFY | SS_CENTERIMAGE,
                20, 98, 45, 15
    CONTROL     "睡着的火山", IDC_CREDITS_VOLCANO, "Static", SS_NOTIFY | SS_CENTERIMAGE,
                20, 113, 45, 15
    CONTROL     "青阳忘川", IDC_CREDITS_QINGYANG, "Static", SS_NOTIFY | SS_CENTERIMAGE,
                20, 128, 45, 15
    CONTROL     "王野", IDC_CREDITS_WANGYE, "Static", SS_NOTIFY | SS_CENTERIMAGE,
                20, 143, 45, 15
    CONTROL     "风增", IDC_CREDITS_FENGZENG, "Static", SS_NOTIFY | SS_CENTERIMAGE,
                20, 158, 45, 15

    // 贡献者链接 - 右列
    CONTROL     "XuJilong", IDC_CREDITS_XUJILONG, "Static", SS_NOTIFY | SS_CENTERIMAGE,
                80, 23, 55, 15
    CONTROL     "猫屋敷梨梨Official", IDC_CREDITS_NEKO, "Static", SS_NOTIFY | SS_CENTERIMAGE,
                80, 38, 65, 15
    CONTROL     "李康", IDC_CREDITS_LIKANG, "Static", SS_NOTIFY | SS_CENTERIMAGE,
                80, 53, 45, 15
    CONTROL     "flying-hilichurl", IDC_CREDITS_FLYING, "Static", SS_NOTIFY | SS_CENTERIMAGE,
                80, 68, 55, 15
    CONTROL     "rsyqvthv", IDC_CREDITS_RSYQVTHV, "Static", SS_NOTIFY | SS_CENTERIMAGE,
                80, 83, 55, 15
    CONTROL     "学习马楼", IDC_CREDITS_MALOU, "Static", SS_NOTIFY | SS_CENTERIMAGE,
                80, 98, 55, 15
    CONTROL     "星空下数羊", IDC_CREDITS_SHEEP, "Static", SS_NOTIFY | SS_CENTERIMAGE,
                80, 113, 55, 15
    CONTROL     "William", IDC_CREDITS_WILLIAM, "Static", SS_NOTIFY | SS_CENTERIMAGE,
                80, 128, 45, 15
    CONTROL     "煮酒论科技", IDC_CREDITS_ZHUJIU, "Static", SS_NOTIFY | SS_CENTERIMAGE,
                80, 143, 55, 15
    CONTROL     "田春", IDC_CREDITS_TIANCHUN, "Static", SS_NOTIFY | SS_CENTERIMAGE,
                80, 158, 45, 15
END 