#include <windows.h>
#include "resource.h"

// 设置 UTF-8 编码
#pragma code_page(65001)

// 鸣谢对话框资源定义
IDD_CREDITS_DIALOG DIALOGEX 0, 0, 200, 220
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "鸣谢"
FONT 12, "Microsoft YaHei UI"
BEGIN
    // 贡献者列表 - 使用只读的多行编辑框
    EDITTEXT IDC_CREDITS_TEXT, 10, 10, 180, 200, 
             ES_MULTILINE | ES_READONLY | ES_AUTOVSCROLL | WS_VSCROLL
END 