#include <windows.h>
#include "resource.h"

// 设置 UTF-8 编码
#pragma code_page(65001)

// 下载进度对话框资源定义
IDD_DOWNLOAD_PROGRESS DIALOGEX 0, 0, 250, 80
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "下载更新中..."
FONT 9, "Microsoft YaHei UI"
BEGIN
    CONTROL         "", IDC_PROGRESS_BAR, "msctls_progress32", WS_BORDER, 10, 10, 230, 14
    LTEXT           "准备下载...", IDC_PROGRESS_TEXT, 10, 30, 230, 8
    PUSHBUTTON      "取消", IDCANCEL, 100, 50, 50, 14
END 