#include <windows.h>
#include "resource.h"

// Set UTF-8 encoding
#pragma code_page(65001)

// Error message dialog resource definition
IDD_ERROR_DIALOG DIALOGEX 0, 0, 160, 40
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 12, "Microsoft YaHei UI"
BEGIN
    CTEXT           "", IDC_ERROR_TEXT, 0, 10, 160, 20
END 