/**
 * @file hotkey_dialog.rc
 * @brief Global hotkey configuration dialog with multiple action slots
 */
#include <windows.h>
#include "resource.h"
#include <commctrl.h>

#pragma code_page(65001)

/** @brief System-wide hotkey registration dialog with 13 action slots */
CLOCK_IDD_HOTKEY_DIALOG DIALOGEX 0, 0, 280, 320
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Hotkey Settings"
FONT 9, "Segoe UI"
BEGIN
    /** Primary hotkey assignments using Windows hotkey controls */
    LTEXT           "Show Current Time:",IDC_HOTKEY_LABEL1,14,15,80,8
    CONTROL         "",IDC_HOTKEY_EDIT1,"msctls_hotkey32",WS_BORDER | WS_TABSTOP,105,13,160,14
    
    LTEXT           "Count Up:",IDC_HOTKEY_LABEL2,14,35,80,8
    CONTROL         "",IDC_HOTKEY_EDIT2,"msctls_hotkey32",WS_BORDER | WS_TABSTOP,105,33,160,14
    
    LTEXT           "Countdown:",IDC_HOTKEY_LABEL12,14,55,80,8
    CONTROL         "",IDC_HOTKEY_EDIT12,"msctls_hotkey32",WS_BORDER | WS_TABSTOP,105,53,160,14
    
    LTEXT           "Default Countdown:",IDC_HOTKEY_LABEL3,14,75,80,8
    CONTROL         "",IDC_HOTKEY_EDIT3,"msctls_hotkey32",WS_BORDER | WS_TABSTOP,105,73,160,14
    
    LTEXT           "Quick Countdown 1:",IDC_HOTKEY_LABEL9,14,95,80,8
    CONTROL         "",IDC_HOTKEY_EDIT9,"msctls_hotkey32",WS_BORDER | WS_TABSTOP,105,93,160,14
    
    LTEXT           "Quick Countdown 2:",IDC_HOTKEY_LABEL10,14,115,80,8
    CONTROL         "",IDC_HOTKEY_EDIT10,"msctls_hotkey32",WS_BORDER | WS_TABSTOP,105,113,160,14
    
    LTEXT           "Quick Countdown 3:",IDC_HOTKEY_LABEL11,14,135,80,8
    CONTROL         "",IDC_HOTKEY_EDIT11,"msctls_hotkey32",WS_BORDER | WS_TABSTOP,105,133,160,14
    
    LTEXT           "Start Pomodoro:",IDC_HOTKEY_LABEL4,14,155,80,8
    CONTROL         "",IDC_HOTKEY_EDIT4,"msctls_hotkey32",WS_BORDER | WS_TABSTOP,105,153,160,14
    
    LTEXT           "Hide/Show Window:",IDC_HOTKEY_LABEL5,14,175,80,8
    CONTROL         "",IDC_HOTKEY_EDIT5,"msctls_hotkey32",WS_BORDER | WS_TABSTOP,105,173,160,14
    
    LTEXT           "Enter Edit Mode:",IDC_HOTKEY_LABEL6,14,195,80,8
    CONTROL         "",IDC_HOTKEY_EDIT6,"msctls_hotkey32",WS_BORDER | WS_TABSTOP,105,193,160,14
    
    LTEXT           "Pause/Resume Timer:",IDC_HOTKEY_LABEL7,14,215,80,8
    CONTROL         "",IDC_HOTKEY_EDIT7,"msctls_hotkey32",WS_BORDER | WS_TABSTOP,105,213,160,14
    
    LTEXT           "Restart Timer:",IDC_HOTKEY_LABEL8,14,235,80,8
    CONTROL         "",IDC_HOTKEY_EDIT8,"msctls_hotkey32",WS_BORDER | WS_TABSTOP,105,233,160,14
    
    LTEXT           "Toggle Milliseconds:",IDC_HOTKEY_LABEL13,14,255,80,8
    CONTROL         "",IDC_HOTKEY_EDIT13,"msctls_hotkey32",WS_BORDER | WS_TABSTOP,105,253,160,14
    
    /** Instructional note for hotkey usage */
    LTEXT           "* Hotkeys will work globally",IDC_HOTKEY_NOTE,15,285,200,8
    /** Standard dialog buttons */
    PUSHBUTTON      "Cancel",IDCANCEL,170,300,50,14
    DEFPUSHBUTTON   "OK",IDOK,225,300,50,14
END 