#include <windows.h>
#include "resource.h"
#include <commctrl.h>

// 设置 UTF-8 编码
#pragma code_page(65001)

// 热键设置对话框
CLOCK_IDD_HOTKEY_DIALOG DIALOGEX 0, 0, 280, 300
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "热键设置"
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "显示当前时间:",IDC_HOTKEY_LABEL1,14,15,80,8
    CONTROL         "",IDC_HOTKEY_EDIT1,"msctls_hotkey32",WS_BORDER | WS_TABSTOP,105,13,160,14
    
    LTEXT           "正计时:",IDC_HOTKEY_LABEL2,14,35,80,8
    CONTROL         "",IDC_HOTKEY_EDIT2,"msctls_hotkey32",WS_BORDER | WS_TABSTOP,105,33,160,14
    
    LTEXT           "默认倒计时:",IDC_HOTKEY_LABEL3,14,55,80,8
    CONTROL         "",IDC_HOTKEY_EDIT3,"msctls_hotkey32",WS_BORDER | WS_TABSTOP,105,53,160,14
    
    LTEXT           "快捷倒计时1:",IDC_HOTKEY_LABEL9,14,75,80,8
    CONTROL         "",IDC_HOTKEY_EDIT9,"msctls_hotkey32",WS_BORDER | WS_TABSTOP,105,73,160,14
    
    LTEXT           "快捷倒计时2:",IDC_HOTKEY_LABEL10,14,95,80,8
    CONTROL         "",IDC_HOTKEY_EDIT10,"msctls_hotkey32",WS_BORDER | WS_TABSTOP,105,93,160,14
    
    LTEXT           "快捷倒计时3:",IDC_HOTKEY_LABEL11,14,115,80,8
    CONTROL         "",IDC_HOTKEY_EDIT11,"msctls_hotkey32",WS_BORDER | WS_TABSTOP,105,113,160,14
    
    LTEXT           "开始番茄钟:",IDC_HOTKEY_LABEL4,14,135,80,8
    CONTROL         "",IDC_HOTKEY_EDIT4,"msctls_hotkey32",WS_BORDER | WS_TABSTOP,105,133,160,14
    
    LTEXT           "隐藏/显示窗口:",IDC_HOTKEY_LABEL5,14,155,80,8
    CONTROL         "",IDC_HOTKEY_EDIT5,"msctls_hotkey32",WS_BORDER | WS_TABSTOP,105,153,160,14
    
    LTEXT           "进入编辑模式:",IDC_HOTKEY_LABEL6,14,175,80,8
    CONTROL         "",IDC_HOTKEY_EDIT6,"msctls_hotkey32",WS_BORDER | WS_TABSTOP,105,173,160,14
    
    LTEXT           "暂停/继续计时:",IDC_HOTKEY_LABEL7,14,195,80,8
    CONTROL         "",IDC_HOTKEY_EDIT7,"msctls_hotkey32",WS_BORDER | WS_TABSTOP,105,193,160,14
    
    LTEXT           "重新开始计时:",IDC_HOTKEY_LABEL8,14,215,80,8
    CONTROL         "",IDC_HOTKEY_EDIT8,"msctls_hotkey32",WS_BORDER | WS_TABSTOP,105,213,160,14
    
    LTEXT           "* 热键将全局生效",IDC_HOTKEY_NOTE,15,245,200,8
    DEFPUSHBUTTON   "确定",IDOK,170,270,50,14
    PUSHBUTTON      "取消",IDCANCEL,220,270,50,14
END 