#include <windows.h>
#include "resource.h"

// 设置 UTF-8 编码
#pragma code_page(65001)

// 许可证对话框资源定义
IDD_LICENSE_DIALOG DIALOGEX 0, 0, 300, 260
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "版权声明"
FONT 10, "Microsoft YaHei UI"
BEGIN
    LTEXT       "本项目采用 Apache License 2.0 开源协议发布。\n\n" \
                "图标版权声明：\n\n" \
                "- 软件图标由 猫屋敷梨梨Official 创作并保留所有权利\n" \
                "   未经原作者明确授权，不得将这些图片用于任何商业用途\n\n" \
                "字体许可：\n\n" \
                "- MIT: \n" \
                "    ProFont IIx Nerd Font\n" \
                "- SIL Open Font License(OFL): \n" \
                "    DaddyTimeMono Nerd Font Propo Essence,\n" \
                "    DepartureMono Nerd Font Propo Essence, LiterationSerif Nerd Font Essence,\n" \
                "    RecMonoCasual Nerd Font Mono Essence, Terminess Nerd Font Propo Essence,\n" \
                "    VictorMono NFP Medium Essence, ZedMono NF Essence, Arbutus Essence,\n" \
                "    Berkshire Swash Essence, Caveat Brush Essence, Creepster Essence,\n" \
                "    DotGothic16 Essence, Doto ExtraBold Essence, Foldit SemiBold Essence,\n" \
                "    Fredericka the Great Essence, Frijole Essence, Gwendolyn Essence,\n" \
                "    Handjet Essence, Inknut Antiqua Medium Essence, Jacquard 12 Essence,\n" \
                "    Jacquarda Bastarda 9 Essence, Kavoon Essence, Kumar One Essence,\n" \
                "    Kumar One Outline Essence, Lakki Reddy Essence, Licorice Essence,\n" \
                "    Ma Shan Zheng Essence, Moirai One Essence, Mystery Quest Essence,\n" \
                "    Noto Nastaliq Urdu Medium Essence, Piedra Essence, Pixelify Sans Medium Essence,\n" \
                "    Press Start 2P Essence, Rubik Bubbles Essence, Rubik Burned Essence,\n" \
                "    Rubik Glitch Essence, Rubik Glitch Pop Essence, Rubik Marker Hatch Essence,\n" \
                "    Rubik Puddles Essence, Rubik Vinyl Essence, Rubik Wet Paint Essence,\n" \
                "    Ruge Boogie Essence, Sevillana Essence, Silkscreen Essence, Stick Essence,\n" \
                "    Underdog Essence, Wallpoet Essence, Yesteryear Essence, ZCOOL KuaiLe Essence",
                IDC_LICENSE_TEXT, 10, 10, 280, 260, SS_LEFT
END 