IDD_MONITOR_CONFIG_DIALOG DIALOGEX 0, 0, 300, 200
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Data Monitor Configuration"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    GROUPBOX        "Source Items",-1,7,7,100,186
    LISTBOX         IDC_MONITOR_LIST,12,18,90,150,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP | LBS_NOTIFY
    PUSHBUTTON      "Add",IDC_MONITOR_ADD_BTN,12,172,42,14
    PUSHBUTTON      "Delete",IDC_MONITOR_DEL_BTN,60,172,42,14
    
    GROUPBOX        "Settings",-1,115,7,178,160
    
    LTEXT           "Label:",-1,120,20,160,8
    EDITTEXT        IDC_MONITOR_LABEL_EDIT,120,30,160,14,ES_AUTOHSCROLL
    
    LTEXT           "Platform:",-1,120,50,40,8
    COMBOBOX        IDC_MONITOR_PLATFORM_COMBO,120,60,60,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP

    LTEXT           "Item:",-1,190,50,80,8
    COMBOBOX        IDC_MONITOR_PARAM2_COMBO,190,60,90,60,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    
    LTEXT           "Target ID (e.g. user/repo):",IDC_MONITOR_PARAM1_LABEL,120,80,160,8
    EDITTEXT        IDC_MONITOR_PARAM1_EDIT,120,90,160,14,ES_AUTOHSCROLL

    LTEXT           "Token (Optional):",IDC_MONITOR_TOKEN_LABEL,120,110,160,8
    EDITTEXT        IDC_MONITOR_TOKEN_EDIT,120,120,160,14,ES_AUTOHSCROLL
    
    LTEXT           "",IDC_MONITOR_TEST_RESULT,120,148,160,8
    
    DEFPUSHBUTTON   "Done",IDCANCEL,243,175,50,14
END
