#include <windows.h>
#include "resource.h"

#define IDC_EDIT 108
#define IDC_BUTTON_OK 109
#define IDD_DIALOG1 1002

IDD_DIALOG1 DIALOGEX 0, 0, 100, 26
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP 
FONT 10, "MS Shell Dlg"
BEGIN
    EDITTEXT        IDC_EDIT, 0, 0, 100, 15, ES_AUTOHSCROLL | ES_MULTILINE
    PUSHBUTTON      "OK", IDC_BUTTON_OK, 40, 16, 20, 10
END

// Program icon copyright notice:
// catime.ico is created by 猫屋敷梨梨Official (https://space.bilibili.com/26087398)
// with all rights reserved. Not for commercial use without explicit permission.
IDI_CATIME ICON "catime.ico"

// CC BY-SA 4.0 fonts
// IDR_FONT_BIGBLUE           FONT "font/CC BY-SA 4.0/BigBlueTermPlus Nerd Font.ttf"

// MIT fonts
// IDR_FONT_PROGGYCLEAN       FONT "font/MIT/ProggyCleanSZ Nerd Font Propo.ttf"
IDR_FONT_PROFONT         FONT "font/MIT/ProFont IIx Nerd Font.ttf"

// SIL fonts
IDR_FONT_DEPARTURE         FONT "font/SIL/DepartureMono Nerd Font Propo Essence.ttf"
IDR_FONT_DADDYTIME        FONT "font/SIL/DaddyTimeMono Nerd Font Propo Essence.ttf"
IDR_FONT_RECMONO           FONT "font/SIL/RecMonoCasual Nerd Font Mono Essence.ttf"
IDR_FONT_TERMINESS         FONT "font/SIL/Terminess Nerd Font Propo Essence.ttf"

// WTFPL fonts
// IDR_FONT_GOHUFONT          FONT "font/WTFPL/GohuFont uni11 Nerd Font Mono.ttf"

IDR_FONT_ARBUTUS           FONT "font/OFL/Arbutus Essence.ttf"
IDR_FONT_BERKSHIRE         FONT "font/OFL/Berkshire Swash Essence.ttf"
IDR_FONT_CAVEAT            FONT "font/OFL/Caveat Brush Essence.ttf"
IDR_FONT_CREEPSTER         FONT "font/OFL/Creepster Essence.ttf"
IDR_FONT_DOTGOTHIC         FONT "font/OFL/DotGothic16 Essence.ttf"
IDR_FONT_DOTO              FONT "font/OFL/Doto ExtraBold Essence.ttf"
// IDR_FONT_FLAVORS           FONT "font/OFL/Flavors.ttf"
IDR_FONT_FOLDIT            FONT "font/OFL/Foldit SemiBold Essence.ttf"
IDR_FONT_FREDERICKA        FONT "font/OFL/Fredericka the Great Essence.ttf"
IDR_FONT_FRIJOLE           FONT "font/OFL/Frijole Essence.ttf"
// IDR_FONT_GRIFFY            FONT "font/OFL/Griffy.ttf"
IDR_FONT_GWENDOLYN         FONT "font/OFL/Gwendolyn Essence.ttf"
IDR_FONT_HANDJET           FONT "font/OFL/Handjet Essence.ttf"
IDR_FONT_INKNUT            FONT "font/OFL/Inknut Antiqua Medium Essence.ttf"
IDR_FONT_JACQUARD          FONT "font/OFL/Jacquard 12 Essence.ttf"
IDR_FONT_JACQUARDA         FONT "font/OFL/Jacquarda Bastarda 9 Essence.ttf"
IDR_FONT_KAVOON            FONT "font/OFL/Kavoon Essence.ttf"
IDR_FONT_KUMAR_ONE_OUTLINE FONT "font/OFL/Kumar One Outline Essence.ttf"
IDR_FONT_KUMAR_ONE         FONT "font/OFL/Kumar One Essence.ttf"
IDR_FONT_LAKKI_REDDY       FONT "font/OFL/Lakki Reddy Essence.ttf"
IDR_FONT_LICORICE          FONT "font/OFL/Licorice Essence.ttf"
IDR_FONT_MA_SHAN_ZHENG     FONT "font/OFL/Ma Shan Zheng Essence.ttf"
IDR_FONT_MOIRAI_ONE        FONT "font/OFL/Moirai One Essence.ttf"
IDR_FONT_MYSTERY_QUEST     FONT "font/OFL/Mystery Quest Essence.ttf"
IDR_FONT_NOTO_NASTALIQ     FONT "font/OFL/Noto Nastaliq Urdu Medium Essence.ttf"
IDR_FONT_PIEDRA            FONT "font/OFL/Piedra Essence.ttf"
IDR_FONT_PIXELIFY          FONT "font/OFL/Pixelify Sans Medium Essence.ttf"
IDR_FONT_PRESS_START       FONT "font/OFL/Press Start 2P Essence.ttf"
// IDR_FONT_RUBIK_BEASTLY     FONT "font/OFL/Rubik Beastly.ttf"
IDR_FONT_RUBIK_BUBBLES     FONT "font/OFL/Rubik Bubbles Essence.ttf"
IDR_FONT_RUBIK_BURNED      FONT "font/OFL/Rubik Burned Essence.ttf"
IDR_FONT_RUBIK_GLITCH_POP   FONT "font/OFL/Rubik Glitch Pop Essence.ttf"
IDR_FONT_RUBIK_GLITCH      FONT "font/OFL/Rubik Glitch Essence.ttf"
IDR_FONT_RUBIK_MARKER_HATCH FONT "font/OFL/Rubik Marker Hatch Essence.ttf"
IDR_FONT_RUBIK_PUDDLES     FONT "font/OFL/Rubik Puddles Essence.ttf"
IDR_FONT_RUBIK_VINYL       FONT "font/OFL/Rubik Vinyl Essence.ttf"
IDR_FONT_RUBIK_WET_PAINT   FONT "font/OFL/Rubik Wet Paint Essence.ttf"
IDR_FONT_RUGE_BOOGIE       FONT "font/OFL/Ruge Boogie Essence.ttf"
IDR_FONT_SEVILLANA         FONT "font/OFL/Sevillana Essence.ttf"
IDR_FONT_SILKSCREEN        FONT "font/OFL/Silkscreen Essence.ttf"
IDR_FONT_STICK             FONT "font/OFL/Stick Essence.ttf"
IDR_FONT_UNDERDOG          FONT "font/OFL/Underdog Essence.ttf"
IDR_FONT_WALLPOET          FONT "font/OFL/Wallpoet Essence.ttf"
IDR_FONT_YESTERYEAR        FONT "font/OFL/Yesteryear Essence.ttf"
IDR_FONT_ZCOOL_KUAILE      FONT "font/OFL/ZCOOL KuaiLe Essence.ttf"
