#include <windows.h>
#include "resource.h"

#define IDC_EDIT 108
#define IDC_BUTTON_OK 109
#define IDD_DIALOG1 1002

IDD_DIALOG1 DIALOGEX 0, 0, 100, 26
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP 
FONT 10, "MS Shell Dlg"
BEGIN
    EDITTEXT        IDC_EDIT, 0, 0, 100, 15, ES_AUTOHSCROLL | ES_MULTILINE
    PUSHBUTTON      "OK", IDC_BUTTON_OK, 40, 16, 20, 10
END

// Program icon copyright notice:
// catime.ico is created by 猫屋敷梨梨Official (https://space.bilibili.com/26087398)
// with all rights reserved. Not for commercial use without explicit permission.
IDI_CATIME ICON "../Asset/Icon/catime.ico"

// CC BY-SA 4.0 fonts
// IDR_FONT_BIGBLUE           FONT "font/CC BY-SA 4.0/BigBlueTermPlus Nerd Font.ttf"

// MIT fonts
// IDR_FONT_PROGGYCLEAN       FONT "font/MIT/ProggyCleanSZ Nerd Font Propo.ttf"
IDR_FONT_PROFONT         FONT "../Asset/Font/MIT/ProFont IIx Nerd Font.ttf"

// SIL fonts
IDR_FONT_DEPARTURE         FONT "../Asset/Font/SIL/DepartureMono Nerd Font Propo Essence.ttf"
IDR_FONT_DADDYTIME        FONT "../Asset/Font/SIL/DaddyTimeMono Nerd Font Propo Essence.ttf"
IDR_FONT_RECMONO           FONT "../Asset/Font/SIL/RecMonoCasual Nerd Font Mono Essence.ttf"
IDR_FONT_TERMINESS         FONT "../Asset/Font/SIL/Terminess Nerd Font Propo Essence.ttf"

// WTFPL fonts
// IDR_FONT_GOHUFONT          FONT "font/WTFPL/GohuFont uni11 Nerd Font Mono.ttf"

IDR_FONT_ARBUTUS           FONT "../Asset/Font/OFL/Arbutus Essence.ttf"
IDR_FONT_BERKSHIRE         FONT "../Asset/Font/OFL/Berkshire Swash Essence.ttf"
IDR_FONT_CAVEAT            FONT "../Asset/Font/OFL/Caveat Brush Essence.ttf"
IDR_FONT_CREEPSTER         FONT "../Asset/Font/OFL/Creepster Essence.ttf"
IDR_FONT_DOTGOTHIC         FONT "../Asset/Font/OFL/DotGothic16 Essence.ttf"
IDR_FONT_DOTO              FONT "../Asset/Font/OFL/Doto ExtraBold Essence.ttf"
// IDR_FONT_FLAVORS           FONT "font/OFL/Flavors.ttf"
IDR_FONT_FOLDIT            FONT "../Asset/Font/OFL/Foldit SemiBold Essence.ttf"
IDR_FONT_FREDERICKA        FONT "../Asset/Font/OFL/Fredericka the Great Essence.ttf"
IDR_FONT_FRIJOLE           FONT "../Asset/Font/OFL/Frijole Essence.ttf"
// IDR_FONT_GRIFFY            FONT "font/OFL/Griffy.ttf"
IDR_FONT_GWENDOLYN         FONT "../Asset/Font/OFL/Gwendolyn Essence.ttf"
IDR_FONT_HANDJET           FONT "../Asset/Font/OFL/Handjet Essence.ttf"
IDR_FONT_INKNUT            FONT "../Asset/Font/OFL/Inknut Antiqua Medium Essence.ttf"
IDR_FONT_JACQUARD          FONT "../Asset/Font/OFL/Jacquard 12 Essence.ttf"
IDR_FONT_JACQUARDA         FONT "../Asset/Font/OFL/Jacquarda Bastarda 9 Essence.ttf"
IDR_FONT_KAVOON            FONT "../Asset/Font/OFL/Kavoon Essence.ttf"
IDR_FONT_KUMAR_ONE_OUTLINE FONT "../Asset/Font/OFL/Kumar One Outline Essence.ttf"
IDR_FONT_KUMAR_ONE         FONT "../Asset/Font/OFL/Kumar One Essence.ttf"
IDR_FONT_LAKKI_REDDY       FONT "../Asset/Font/OFL/Lakki Reddy Essence.ttf"
IDR_FONT_LICORICE          FONT "../Asset/Font/OFL/Licorice Essence.ttf"
IDR_FONT_MA_SHAN_ZHENG     FONT "../Asset/Font/OFL/Ma Shan Zheng Essence.ttf"
IDR_FONT_MOIRAI_ONE        FONT "../Asset/Font/OFL/Moirai One Essence.ttf"
IDR_FONT_MYSTERY_QUEST     FONT "../Asset/Font/OFL/Mystery Quest Essence.ttf"
IDR_FONT_NOTO_NASTALIQ     FONT "../Asset/Font/OFL/Noto Nastaliq Urdu Medium Essence.ttf"
IDR_FONT_PIEDRA            FONT "../Asset/Font/OFL/Piedra Essence.ttf"
IDR_FONT_PIXELIFY          FONT "../Asset/Font/OFL/Pixelify Sans Medium Essence.ttf"
IDR_FONT_PRESS_START       FONT "../Asset/Font/OFL/Press Start 2P Essence.ttf"
// IDR_FONT_RUBIK_BEASTLY     FONT "font/OFL/Rubik Beastly.ttf"
IDR_FONT_RUBIK_BUBBLES     FONT "../Asset/Font/OFL/Rubik Bubbles Essence.ttf"
IDR_FONT_RUBIK_BURNED      FONT "../Asset/Font/OFL/Rubik Burned Essence.ttf"
IDR_FONT_RUBIK_GLITCH_POP   FONT "../Asset/Font/OFL/Rubik Glitch Pop Essence.ttf"
IDR_FONT_RUBIK_GLITCH      FONT "../Asset/Font/OFL/Rubik Glitch Essence.ttf"
IDR_FONT_RUBIK_MARKER_HATCH FONT "../Asset/Font/OFL/Rubik Marker Hatch Essence.ttf"
IDR_FONT_RUBIK_PUDDLES     FONT "../Asset/Font/OFL/Rubik Puddles Essence.ttf"
IDR_FONT_RUBIK_VINYL       FONT "../Asset/Font/OFL/Rubik Vinyl Essence.ttf"
IDR_FONT_RUBIK_WET_PAINT   FONT "../Asset/Font/OFL/Rubik Wet Paint Essence.ttf"
IDR_FONT_RUGE_BOOGIE       FONT "../Asset/Font/OFL/Ruge Boogie Essence.ttf"
IDR_FONT_SEVILLANA         FONT "../Asset/Font/OFL/Sevillana Essence.ttf"
IDR_FONT_SILKSCREEN        FONT "../Asset/Font/OFL/Silkscreen Essence.ttf"
IDR_FONT_STICK             FONT "../Asset/Font/OFL/Stick Essence.ttf"
IDR_FONT_UNDERDOG          FONT "../Asset/Font/OFL/Underdog Essence.ttf"
IDR_FONT_WALLPOET          FONT "../Asset/Font/OFL/Wallpoet Essence.ttf"
IDR_FONT_YESTERYEAR        FONT "../Asset/Font/OFL/Yesteryear Essence.ttf"
IDR_FONT_ZCOOL_KUAILE      FONT "../Asset/Font/OFL/ZCOOL KuaiLe Essence.ttf"
