#include <windows.h>
#include "resource.h"

// Set UTF-8 encoding
#pragma code_page(65001)

// Shortcut time options settings dialog
CLOCK_IDD_SHORTCUT_DIALOG DIALOGEX 0, 0, 240, 155
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Countdown Presets"
FONT 9, "Segoe UI"
BEGIN
    LTEXT           "", CLOCK_IDC_STATIC, 10, 10, 220, 75
    EDITTEXT        CLOCK_IDC_EDIT, 10, 95, 220, 18, ES_AUTOHSCROLL | ES_MULTILINE
    PUSHBUTTON      "", CLOCK_IDC_BUTTON_OK, 180, 125, 50, 14
END 